page-login {

  /*
    HEADER STYLE
  */
  .login-header {
    display: block;
    color: white;
    text-align: center;
    margin-top: 3rem;
  }

  .brand-name-row {
    margin-top: 5rem;
  }

  .app-name-row {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  /*
    LINKS
  */
  a {
    color: color($colors, tt-blue, base);
  }

  .small-links {
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
  }

  .pw-link {
    margin-left: 185px;
    margin-bottom: 2rem;
  }

}
