<ion-content class="bg-dark form" padding>

  <ion-row class="login-header brand-name-row">
    <h1>#TRASHTALK</h1>
  </ion-row>

  <ion-row class="login-header app-name-row">
    <h3>FANTASY LEAGUE</h3>
  </ion-row>

  <ion-row class="small-links">
    <a class="uppercase" style="margin-right: 5px;" (click)="showRules()">Les regles</a>
    <a class="uppercase"> - </a>
    <a class="uppercase" style="margin-left: 5px;" (click)="showFAQ()">FAQ</a>
  </ion-row>

  <ion-row class="input-row">
    <ion-item>
      <ion-label floating>Identifiant ou Email</ion-label>
      <ion-input class="round-edges"
                 type="email"
                 required
                 [(ngModel)]="id" id="idInput"
                 (keyup.enter)="login(id,password)"
      ></ion-input>
    </ion-item>
  </ion-row>

  <ion-row class="input-row">
    <ion-item>
        <ion-label floating>Mot de passe</ion-label>
        <ion-input class="round-edges"
                   [type]="passwordType"
                   required
                   [(ngModel)]="password" id="passwordInput"
                   (keyup.enter)="login(id,password)"
        ></ion-input>
        <ion-icon name="eye-off" item-end (click)="togglePassword()" *ngIf="!passwordShown"></ion-icon>
        <ion-icon name="eye" item-end (click)="togglePassword()" *ngIf="passwordShown"></ion-icon>
    </ion-item>
    <p class="error">{{error}}</p>

  </ion-row>

  <ion-row>
    <a  class="pw-link" (click)="forgotPassword()">Mot de passe oublié ?</a>
  </ion-row>

  <ion-row class="button-row">
    <button (click)="login(id,password)" class="round-edges" ion-button>CONNEXION</button>
  </ion-row>

  <ion-row class="small-links">
    <a (click)="goToCreateAccount()">Pas encore de compte ? Rejoins la communauté !</a>
  </ion-row>


</ion-content>
