page-login {

  /*
    HEADER STYLE
  */
  .login-header {
    display: block;
    text-align: center;
    margin-top: 5rem;
  }

  .brand-name-row {
    color: color($colors, tt-red-alt, base);;
    margin-top: 5rem;
  }

  .app-name-row {
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .small-links {
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
  }

  .pw-link {
    margin-left: 175px;
    margin-bottom: 2rem;
  }
}
