page-team-roster {
  .highlight {
    color: #32db64;
  }

  .player-card {
    margin: 10px 0px 10px 0px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .player-card ion-icon {
    font-size: 3rem;
    margin-top: 7px;
    margin-left: 10px;
  }

  .unAvailable {
    background-color: color($colors, tt-grey-alt, base);
  }

  ion-fab {
    top: 90%;
    left: 22%;
  }

  .fab {
    width: 200px;
    height: 40px;
    border-radius: 100px;
  }

  empty-space {
    margin-bottom: 60px;
  }
}
