<ion-header>

  <ion-navbar>
    <ion-title>{{selectedTeam.ttsName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-grey" padding>
  <ion-card *ngFor="let player of roster" [class.unAvailable]="!player.isAvailable"
            class="player-card round-edges">
    <ion-row>
      <!-- JERSEY DRAWING -->
      <ion-col (click)="showPlayerStats(player)" col-2>>
        <svg height="43" overflow="hidden" style="display: block;margin: auto;" width="34">
          <rect [ngStyle]="{'fill': selectedTeam.colors.primary}" height="43" width="34" x="0" y="0"></rect>
          <ellipse [ngStyle]="{'stroke': selectedTeam.colors.secondary}" cx="0" cy="5" fill="white" rx="8" ry="15"
                   stroke-width="2"></ellipse>
          <ellipse [ngStyle]="{'stroke': selectedTeam.colors.secondary}" cx="35" cy="5" fill="white" rx="8" ry="15"
                   stroke-width="2"></ellipse>
          <ellipse [ngStyle]="{'stroke': selectedTeam.colors.secondary}" cx="17" cy="0" fill="white" rx="8" ry="8"
                   stroke-width="2"></ellipse>
        </svg>

        <!-- JERSEY NUMBER -->
        <div class="jersey-nbr">{{player.jersey}}</div>
      </ion-col>

      <!-- PLAYER INFO -->
      <ion-col (click)="showPlayerStats(player)" col-8>
        <!-- PLAYER NAME -->
        <ion-row>
          <p>{{player.firstName}} {{player.lastName}}</p>
        </ion-row>

        <!-- PLAYER STATS -->
        <ion-row class="badge-inline">
          <ion-badge>{{player.ppg}} ppg</ion-badge>
          <ion-badge>{{player.apg}} apg</ion-badge>
          <ion-badge>{{player.rpg}} rpg</ion-badge>
        </ion-row>
      </ion-col>

      <ion-col (click)="selectPlayer(player)" *ngIf="player.isAvailable" [class.highlight]="player.selected" col-2>
        <ion-icon class="icon" name="checkmark-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab *ngIf="selectedPlayer.personId != 0">
    <button (click)="confirmPick()" color="primary" ion-fab>Ajouter au deck</button>
  </ion-fab>

  <div *ngIf="selectedPlayer.personId != 0" class="empty-space">

  </div>
</ion-content>
