page-home {
  .pick-card .icon {
    font-size: 3rem;
    margin: 16px 15px 15px 15px;
  }

  .scroll-content {
    padding: 5px 15px 5px 15px !important;
  }

  .pick-card .col p {
    margin: 10px 0px 10px 0px;
  }

  .pick-card .custom-padding {
    padding-top: 15px;
  }
}
