page-ttfl-team {
  .leave-team-button {
    background-color: color($colors, tt-red, base);
  }

  .team-pick {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .searchbar-md .searchbar-input, .searchbar-ios .searchbar-input {
    border-radius: 25px !important;
  }

  .searchbar .button-md, .searchbar .button-ios {
    background-color: transparent;
  }

  .uppercase {
    text-align: start;
  }

  ion-input {
    box-shadow: 5px 10px;
  }

  .form .item-md, .form .item-ios {
    color: black;
  }

  .form .label-md[stacked], .form .label-ios[stacked] {
    color: black;
  }
}
