<ion-header class="big-header">
  <ion-navbar hideBackButton>
    <button align-items-start ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="white">Mon équipe</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding class="bg-grey">
  <!-- USER HAS NO TEAM -->
  <div *ngIf="!userService.userHasTeam()">
    <ion-row>
      <h1>Pas encore de Team ?</h1>
    </ion-row>

    <!-- SEARCH TEAM PART -->
    <ion-card class="bg-dark round-edges">
      <ion-card-content>
        <ion-row class="input-row">
          <ion-searchbar (ionInput)="searchTeam($event)"></ion-searchbar>
          <ion-list>
            <ion-item *ngFor="let team of teamsFound">
              {{ team }}
            </ion-item>
          </ion-list>
        </ion-row>

        <ion-row class="button-row">
          <button (click)="createTeam(teamName)" class="round-edges" ion-button>RECHERCHER</button>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!-- CREATE TEAM PART -->
    <ion-card class="bg-dark round-edges">
      <ion-card-content>
        <ion-row class="input-row">
          <ion-item>
            <ion-label stacked>NOM DE LA TEAM</ion-label>
            <ion-input class="round-edges"
                       type="text"
                       [(ngModel)]="teamName" id="teamNameInput"
                       (keyup.enter)="createTeam(teamName)"
            ></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="button-row">
          <button (click)="createTeam(teamName)" class="round-edges" ion-button>CREER MA TEAM</button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- USER HAS TEAM -->
  <div *ngIf="userService.userHasTeam()">

    <!--TEAM IMAGE-->
    <ion-row class="center-row-content">
      <span class="team-pick"></span>
    </ion-row>

    <!--TEAM NAME-->
    <ion-row class="center-row-content">
      <h2>{{userTeam.name}}</h2>
    </ion-row>

    <!--TEAM INFO-->
    <div>
      <ion-row class="center-row-content">
        <ion-badge>{{userTeam.points}} pts</ion-badge>
        <ion-badge style="margin-left: 5px; margin-right: 5px;">{{userTeam.rank}} e</ion-badge>
        <ion-badge>{{userTeam.members.length}} membres</ion-badge>
      </ion-row>
    </div>


    <!--SEPARATOR-->
    <div class="separator"></div>

    <h3 class="uppercase">Membres</h3>

    <ion-card *ngFor="let member of userTeam.members" class="small-card round-edges">
      <ion-card-content class="no-padding">
        <ion-row>
          <ion-col col-8><p class="mid">{{member.username}}</p></ion-col>
          <ion-col col-4><p class="last"><b>{{member.points}}</b> pts</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-row class="button-row">
      <button (click)="leaveTeam()" class="leave-team-button round-edges" ion-button>Quitter l'équipe</button>
    </ion-row>
  </div>
</ion-content>
