<ion-header>
  <ion-navbar hideBackButton>
    <button align-items-start ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="white">Mon équipe</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- USER HAS NO TEAM -->
  <div *ngIf="!userService.userHasTeam()">
    <ion-row>
      <h1>Pas encore de Team ?</h1>
    </ion-row>

    <!-- SEARCH TEAM PART -->
    <ion-card class="bg-dark round-edges" *ngIf="showSearchCard">
      <ion-card-content>
        <ion-row class="input-row">
          <ion-item>
            <ion-label stacked>NOM DE LA TEAM</ion-label>
            <ion-searchbar #inputTeamName (focusout)="setTeamName(inputTeamName.value)"
                           class="round-edges"
            ></ion-searchbar>
          </ion-item>
        </ion-row>

        <ion-row class="button-row">
          <button (click)="createTeam(teamName)" class="round-edges" ion-button>RECHERCHER</button>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-row class="button-row" *ngIf="!showSearchCard">
      <button (click)="showTeamSearch()" class="round-edges" ion-button>Rejoindre une Team</button>
    </ion-row>

    <!-- CREATE TEAM PART -->
    <ion-card class="bg-dark round-edges" *ngIf="showCreationCard">
      <ion-card-content>
        <ion-row class="input-row">
          <ion-item>
            <ion-label stacked>NOM DE LA TEAM</ion-label>
            <ion-input #inputTeamName (focusout)="setTeamName(inputTeamName.value)"
                       class="round-edges"
            ></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="button-row">
          <button (click)="createTeam(teamName)" class="round-edges" ion-button>CREER MA TEAM</button>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-row class="button-row" *ngIf="!showCreationCard">
      <button (click)="showCreateTeam()" class="round-edges" ion-button>Créer ma Team</button>
    </ion-row>
  </div>

  <!-- USER HAS TEAM -->
  <div *ngIf="userService.userHasTeam()">

    <!--TEAM IMAGE-->
    <ion-row class="center-row-content">
      <span class="team-pick"></span>
    </ion-row>

    <!--TEAM NAME-->
    <ion-row class="center-row-content">
      <h2>{{userTeam.name}}</h2>
    </ion-row>

    <!--TEAM INFO-->
    <div>
      <ion-row class="center-row-content">
        <ion-badge>{{userTeam.points}} pts</ion-badge>
        <ion-badge style="margin-left: 5px; margin-right: 5px;">{{userTeam.rank}} e</ion-badge>
        <ion-badge>{{userTeam.members.length}} membres</ion-badge>
      </ion-row>
    </div>


    <!--SEPARATOR-->
    <div class="separator"></div>

    <ion-list inset>
      <ion-list-header>MEMBRES</ion-list-header>
      <ion-item *ngFor="let member of userTeam.members">
        <ion-label>{{member.username}}</ion-label>
        <ion-note item-end>{{member.points}}</ion-note>
      </ion-item>
    </ion-list>

    <ion-row class="button-row">
      <button (click)="leaveTeam()" class="leave-team-button round-edges" ion-button>Quitter l'équipe</button>
    </ion-row>
  </div>
</ion-content>
