// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/****************
  GENERAL STYLE
****************/

.bg-dark {
  background-color: color($colors, tt-dark, base)
}

/****************
  NAVBAR STYLE
****************/

.toolbar-background {
  background-color: color($colors, tt-dark, base)
}

.bar-button-default-md, .toolbar-title-md, .bar-button-default-ios, .toolbar-title-ios {
  color: white;
}

/****************
  BADGES
****************/

.badge-inline {
  display: inline-block;
}

.badge-md {
  border-radius: 25px;
}

/****************
  COMMON TRAITS
****************/
.round-edges {
  border-radius: 7px;
}

.no-padding {
  padding: 0 0 0 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-row-content {
  justify-content: center;
}

/****************
  PICK CARD STYLE
****************/

.pick-card {
  padding: 0 0 0 0;
  margin: 10px 0px 10px 0px;
  width: auto;
  height: 72px;
}

.inner-card {
  padding-right: 0px;
}

.pick-card .score-bubble {
  background-color: color($colors, tt-dark, base);
  border-radius: 20px 0 0 20px;
  margin-top: 3%;
  height: 35px;
}

.pick-card .score {
  color: white;
  text-align: right;
  font-weight: 500;
  margin-top: 2px !important;
  margin-bottom: 0 !important;
}

/****************
  DATE STYLE
****************/

.date-background {
  height: 72px;
  background-color: color($colors, tt-dark, base);
}

.day {
  color: white !important;
  text-align: left;
  font-weight: bold !important;
  font-size: 2.5rem !important;
  margin-top: 10px !important;
}

.month {
  color: color($colors, tt-red, base) !important;
  text-align: left;
  font-weight: bold !important;
  font-size: 2rem !important;
  overflow: hidden;
}

/****************
  NBA PLAYER JERSEYS
****************/

.jersey-nbr {
  font-size: 2.2rem;
  margin-top: -33px;
  text-align: center;
  color: white;
}

/****************
  INPUTS
****************/
.input-row {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.input-cover {
  position: static;
}


.item-md, .item-ios {
  background-color: transparent;
}

ion-input {
  background: white;
}

.item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.label-md[stacked], .label-ios[stacked] {
  margin-bottom: 1rem;
  color: white;
}

.item-label-stacked .text-input-md, .item-ios.item-label-stacked .text-input {
  margin-left: 10px;
}

/****************
  BUTTON STYLE
****************/
.button-md, .button-ios {
  width: 80%;
  background-color: color($colors, tt-blue, base);
}

.button-row {
  justify-content: center;
}

/****************
  DRAWER STYLE
****************/
.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

ion-toolbar .toolbar-title-md, ion-toolbar .toolbar-title-ios {
  padding: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}

.drawer-category {
  margin-top: 10px;
}

.drawer-category .toolbar-title-md, .drawer-category .toolbar-title-ios {
  color: black;
}

.page-list .item-md, .page-list .item-ios {
  padding-left: 20px;
}

/***********
  TEAM LOGO
 */

.logo {
  width: 75px !important;
}
