// App Global Sass
// --------------------------------------------------

/****************
  GENERAL STYLE
****************/

.menu-inner .bg-dark, .bg-dark {
  background-color: color($colors, tt-dark, base);
}

.bg-red {
  background-color: color($colors, tt-red, base);
}

.bg-grey {
  background-color: color($colors, tt-grey, base);
}

/****************
  TEXT STYLE
****************/

ion-card-title, h1, h2 {
  font-family: $MontserratBold !important;
}

h3, h4, h5, h6 {
  font-family: $Montserrat !important;
}

p {
  font-family: $Montserrat;
  font-weight: normal;
}

a {
  color: color($colors, tt-blue, base);
  font-family: $Noto-Sans;
  font-weight: normal;
}

.uppercase {
  font-family: $Noto-Sans-Bold;
  font-weight: normal;
  text-transform: uppercase;
}

/****************
  NAVBAR STYLE
****************/

.toolbar-background {
  background-color: color($colors, tt-dark, base)
}

.bar-button-default-md, .toolbar-title-md, .bar-button-default-ios, .toolbar-title-ios {
  font-family: $Noto-Sans-Bold;
  color: white;
}

/****************
  BADGES
****************/

.badge-inline {
  display: inline-block;
}

.stats-badge {
  font-weight: normal;
  background-color: transparent;
  border: 1.5px solid;
}

.badge-md, .badge-ios {
  border-radius: 25px;
  font-family: $Noto-Sans, sans-serif;
  font-weight: lighter;
}

/****************
  COMMON TRAITS
****************/

.disabled {
  pointer-events: none;
}

.round-edges {
  border-radius: 7px;
}

.no-padding {
  padding: 0;
}

.custom-padding {
  padding: 15px;
}

.no-margin {
  margin: 0;
}

.no-side-margin {
  margin-left: 0;
  margin-right: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-row-content {
  justify-content: center;
}

.separator {
  width: 50%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: color($colors, tt-blue, base);
  border: 0 none;
  margin-top: 15px;
  margin-bottom: 15px;
}

/****************
  CARD STYLE
****************/

.card-md {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

/****************
  PICK CARD STYLE
****************/

.pick-card {
  padding: 0 0 0 0;
  margin: 10px 0px 10px 0px;
  width: auto;
  height: 72px;
}

.inner-card {
  padding-right: 0px;
}

.pick-card .score-bubble {
  background-color: color($colors, tt-dark, base);
  border-radius: 20px 0 0 20px;
  margin-top: 3%;
  height: 35px;
}

.pick-card .score {
  color: white;
  text-align: right;
  font-weight: 500;
  margin-top: 2px !important;
  margin-bottom: 0 !important;
}

/****************
  SMALL CARD STYLE
****************/

.small-card {
  height: 40px;
}

.small-card .col {
  padding-left: 0;
  padding-right: 0;
  height: 40px;
}

.small-card p {
  margin-top: 6px !important;
}

.small-card b {
  color: color($colors, tt-red-alt, base);
  font-family: $MontserratBold, sans-serif !important;
  font-weight: normal;
}

.small-card .first {
  padding-left: 1rem;
  font-family: $Noto-Sans-Bold, sans-serif !important;
  text-align: start;
}

.small-card .mid {
  font-family: $Noto-Sans, sans-serif !important;
  padding-left: 1rem;
  text-align: start;
}

.big-header .last, .small-card .last {
  padding-right: 0.5rem;
  text-align: end;
}

/****************
  DATE STYLE
****************/

.date {
  height: 72px;
  background-color: color($colors, tt-dark, base);
  font-family: $Noto-Sans-Bold;
}

.day {
  color: white !important;
  text-align: left;
  font-weight: bold !important;
  font-size: 2.5rem !important;
  margin-top: 10px !important;
}

.month {
  color: color($colors, tt-red, base) !important;
  text-align: left;
  font-weight: bold !important;
  font-size: 2rem !important;
  overflow: hidden;
}

/****************
  NBA PLAYER JERSEYS
****************/

.jersey-nbr {
  font-size: 2.1rem;
  font-family: $MontserratSemiBold, sans-serif;
  margin-top: -28px;
  text-align: center;
  color: white;
}

.jersey-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

/****************
  INPUTS
****************/
.input-row {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/****************
  BUTTON STYLE
****************/
.button-md, .button-ios {
  width: 80%;
  background-color: color($colors, tt-blue, base);
}

.button-row {
  justify-content: center;
}

/****************
  DRAWER STYLE
****************/
.menu-inner .toolbar-background {
  background-color: color($colors, tt-red-alt, base);
}

ion-toolbar .toolbar-title-md, ion-toolbar .toolbar-title-ios {
  padding: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}

.user-pick {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.user-pick .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.stats {
  color: white;
}

.stats p {
  margin-top: 5px;
  margin-bottom: 0;
}

.drawer-page-list ion-icon {
  margin-right: 5px;
  color: white;
}

.drawer-page-list .item-divider-md, .drawer-page-list .item-divider-ios {
  border: none !important;
}

.drawer-page-list .label-md, .drawer-page-list .label-ios {
  margin: 10px 8px 0px 0;
}

.drawer-page-list ion-item-divider .label-md, .drawer-page-list ion-item-divider .label-ios {
  color: #f2f2f2;
}

.drawer-page-list ion-item-group .label-md, .drawer-page-list ion-item-group .label-ios {
  color: #d2d2d2;
}

.drawer-page-list .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}


.drawer-page-list .item-md, .drawer-page-list .item-ios {
  background-color: transparent;
}

.page-group .item-md, .page-group .item-ios {
  padding-left: 25px;
}

.drawer-footer {
  height: 75px;
  background-color: color($colors, tt-dark-alt, base);
}

.drawer-footer ion-icon {
  color: #f2f2f2;
  font-size: 3rem;
}

/****************
  NBA TEAM LOGO
****************/

.nba-logo {
  width: 65px !important;
}

/****************
  LIST
****************/

.wide-list {
  width: 100%;
  margin: 0 !important;
  font-family: $Montserrat;
}

.list-header {
  text-transform: uppercase;
  font-family: $Noto-Sans;
  font-size: 1.5rem;
  font-weight: bold;
}

/****************
  BIG HEADER
****************/

.big-header {
  color: white;
}

.big-header .wrap {
  padding-bottom: 10px;

}

.big-header .col .col {
  color: white;
  padding: 1px;
}

.big-header .last {
  color: white;
  text-align: left !important;
}

.big-header .mid {
  height: 30px;
  text-align: left !important;
}

.big-header .first {
  padding-right: 2rem;
  margin: 0 !important;
  text-align: right !important;
}

.big-header .rank-prog {
  padding-right: 2rem;
  padding-left: 0;
  text-align: right !important;
}

.big-header .rank-inc {
  color: color($colors, tt-green, base);
}

.big-header.rank-dec {
  color: color($colors, tt-red, base);
}

.big-header .rank-eq {
  color: white;
}

.big-header p, .big-header h5, .big-header h2 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.big-header h5, .big-header p {
  margin-bottom: 5px !important;
}

/****************
  UNDER HEADER
****************/

.under-header {
  background-color: white;
  padding: 0;
}

.under-header .row {
  justify-content: center;
}

.under-header .category-name {
  margin-top: 3px;
  margin-bottom: 6px;
}

.under-header .number {
  margin-bottom: 3px;
  color: color($colors, tt-red, base);
}

.under-header h2 {
  margin-bottom: 2px;
}

.under-header .uppercase {
  font-family: $Noto-Sans-Bold, sans-serif;
  margin-bottom: 0;
  margin-top: 5px;
}

/****************
  INPUTS FORM
****************/

.form .input-cover {
  position: static;
}

.form .item-md, .form .item-ios {
  background-color: transparent;
  color: white;
}

.form .label-md[stacked], .form .label-ios[stacked] {
  margin-bottom: 1rem;
  color: white;
}

.error {
  color: color($colors, danger, base);
  font-size: small;
  padding-left: 16px;
}





