// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*
  GENERAL STYLE
*/
.bg-dark {
  background-color: color($colors, tt-dark, base)
}

/*
  BADGES
  */
.badge-inline {
  display: inline-block;
}

.badge-md {
  border-radius: 25px;
}

/*
  COMMON TRAITS
*/
.round-edges {
  border-radius: 7px;
}

.no-padding {
  padding: 0 0 0 0;
}

/*
  PICK CARD
*/

.pickCard {
  padding: 0 0 0 0;
  margin: 10px 0px 10px 0px;
  width: auto;
}

.inner-card {
  padding-right: 0px;
}

.pickCard .score-bubble {
  background-color: color($colors, tt-dark, base);
  border-radius: 20px 0 0 20px;
  margin-top: 5.5%;
  height: 35px;
}

.pickCard .score {
  color: white;
  text-align: left;
}

/*
  DATE
 */

.date {
  background-color: color($colors, tt-dark, base);
  color: white;
  text-align: center;
  font-weight: bold;
}

/*
  NBA PLAYER JERSEYS
*/

.jersey-nbr {
  font-size: 2.2rem;
  margin-top: -30px;
  text-align: center;
  color: white;
}

/*
  INPUTS
*/
.input-row {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.input-cover {
  position: static;
}


.item-md, .item-ios {
  background-color: transparent;
}

ion-input {
  background: white;
}

.item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.label-md[stacked], .label-ios[stacked] {
  margin-bottom: 1rem;
  color: white;
}

.item-label-stacked .text-input-md, .item-ios.item-label-stacked .text-input {
  margin-left: 10px;
}

/*
  BUTTON
*/
.button-md, .button-ios {
  width: 80%;
  background-color: color($colors, tt-blue, base);
}

.button-row {
  justify-content: center;
}
